 
CREATE PROCEDURE dbo.sp_Maintain_WhoWasActive_Partitions
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
 
    -- Vi vill behålla data för idag, igår och i förrgår (3 dagar totalt).
    -- Allt äldre än så rensas bort.
    DECLARE @OldestDateToKeep datetime = DATEADD(day, -2, CAST(GETDATE() AS date));
    DECLARE @NewPartitionDate datetime = DATEADD(day, 1, CAST(GETDATE() AS date));
    
    DECLARE @PartitionFunctionID int;
    DECLARE @OldestBoundaryValue datetime;
 
    -- 1. Hitta ID för vår partitionsfunktion
    SELECT @PartitionFunctionID = function_id 
    FROM sys.partition_functions 
    WHERE name = 'pf_WhoWasActive_Date';
 
    -- 2. Hitta det äldsta gränsvärdet som finns just nu
    SELECT TOP 1 @OldestBoundaryValue = CAST(value AS datetime)
    FROM sys.partition_range_values
    WHERE function_id = @PartitionFunctionID
    ORDER BY boundary_id ASC;
 
    -- 3. Om det äldsta gränsvärdet är äldre än vad vi vill spara, städa upp
    IF @OldestBoundaryValue < @OldestDateToKeep
    BEGIN
        -- Töm den äldsta partitionen (Partition 1) omedelbart utan loggning
        TRUNCATE TABLE dbo.WhoWasActive WITH (PARTITIONS (1));
 
        -- Slå ihop (MERGE) den tomma partitionen med nästa
        ALTER PARTITION FUNCTION pf_WhoWasActive_Date() MERGE RANGE (@OldestBoundaryValue);
    END
 
    -- 4. Skapa en ny partition för morgondagen (SPLIT) om den inte redan finns
    IF NOT EXISTS (
        SELECT 1 FROM sys.partition_range_values 
        WHERE function_id = @PartitionFunctionID AND CAST(value AS datetime) = @NewPartitionDate
    )
    BEGIN
        ALTER PARTITION SCHEME ps_WhoWasActive_Date NEXT USED [PRIMARY];
        ALTER PARTITION FUNCTION pf_WhoWasActive_Date() SPLIT RANGE (@NewPartitionDate);
    END
END

