 
-- =============================================
-- Author:      Lennart Wallman / Gemini
-- Create date: 2026-06-10
-- Description: Loggar daglig disk-användning. 
--              Uppdaterar dagens post om den finns, annars skapas en ny.
-- =============================================
CREATE   PROCEDURE [dbo].[usp_LogDiskUsage]
    @ServerName NVARCHAR(128),
    @DriveLetter CHAR(1),
    @FreeMB INT,
    @TotalMB BIGINT -- Använder BIGINT för att vara säker för stora diskar
AS
BEGIN
    SET NOCOUNT ON;
 
    -- Använd MERGE för att antingen uppdatera en befintlig rad för idag eller infoga en ny.
    -- Detta är en robust metod för att undvika dubbletter.
    MERGE INTO dbo.DiskUsageHistory AS Target
    USING (SELECT 
            @ServerName AS ServerName, 
            @DriveLetter AS DriveLetter, 
            @FreeMB AS FreeMB, 
            @TotalMB AS TotalMB, 
            CAST(GETDATE() AS DATE) AS LogDate
          ) AS Source
    ON (Target.ServerName = Source.ServerName 
        AND Target.DriveLetter = Source.DriveLetter 
        AND CAST(Target.Timestamp AS DATE) = Source.LogDate)
    
    -- Om en matchning hittas (dvs. det finns redan en logg för denna disk idag)
    WHEN MATCHED THEN
        UPDATE SET 
            Target.FreeMB = Source.FreeMB,
            Target.TotalMB = Source.TotalMB,
            Target.Timestamp = GETDATE() -- Uppdatera tidsstämpeln till den senaste mätningen
 
    -- Om ingen matchning hittas
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ServerName, DriveLetter, FreeMB, TotalMB, Timestamp)
        VALUES (Source.ServerName, Source.DriveLetter, Source.FreeMB, Source.TotalMB, GETDATE());
END

