 
CREATE PROCEDURE dbo.usp_GetAllAcknowledgements
AS
BEGIN
    SET NOCOUNT ON;
    -- Hämtar den senaste kvitteringen för varje unikt jobb/server-par
    WITH LatestAck AS (
        SELECT
            ServerName,
            JobName,
            AcknowledgedBy,
            AcknowledgedAt,
            ROW_NUMBER() OVER(PARTITION BY ServerName, JobName ORDER BY AcknowledgedAt DESC) as rn
        FROM
            dbo.JobAcknowledgements -- Kontrollera att tabellnamnet stämmer
    )
    SELECT
        ServerName,
        JobName,
        AcknowledgedBy,
        AcknowledgedAt
    FROM
        LatestAck
    WHERE
        rn = 1;
END

