-- ============================================================================
-- FIX: Förhindra spam av samma jobb-fel
-- ============================================================================
 
CREATE   PROCEDURE dbo.usp_LogAndCheckSystemAlert
    @ServerName NVARCHAR(128),
    @JobName NVARCHAR(128),
    @InstanceId INT,
    @ErrorMessage NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @AlertShouldBeSent BIT = 0;
    DECLARE @ExistingId INT;
    
    -- Kolla om detta EXAKTA fel (samma InstanceId) redan loggats
    SELECT @ExistingId = ID
    FROM dbo.SystemAlerts
    WHERE ServerName = @ServerName
      AND JobName = @JobName
      AND InstanceId = @InstanceId;
    
    IF @ExistingId IS NULL
    BEGIN
        -- NYTT FEL: Logga och sätt flagga för att skicka e-post
        INSERT INTO dbo.SystemAlerts (ServerName, JobName, InstanceId, ErrorMessage, FirstOccurred, LastOccurred, OccurrenceCount)
        VALUES (@ServerName, @JobName, @InstanceId, @ErrorMessage, GETDATE(), GETDATE(), 1);
        
        SET @AlertShouldBeSent = 1;
        PRINT '🆕 Nytt fel loggat - Skickar e-post!';
    END
    ELSE
    BEGIN
        -- BEFINTLIGT FEL: Uppdatera LastOccurred och räknare, men skicka INTE e-post
        UPDATE dbo.SystemAlerts
        SET LastOccurred = GETDATE(),
            OccurrenceCount = OccurrenceCount + 1
        WHERE ID = @ExistingId;
        
        SET @AlertShouldBeSent = 0;
        PRINT '♻️ Befintligt fel uppdaterat - Ingen e-post skickas.';
    END
    
    -- Returnera resultat
    SELECT @AlertShouldBeSent AS AlertShouldBeSent;
END

