

CREATE PROCEDURE [dbo].[usp_GetIncidentKnowledge]
    @ServerName NVARCHAR(128) = NULL,
    @JobName NVARCHAR(128) = NULL,
    @StepName NVARCHAR(128) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ID,
        ServerName,
        JobName,
        StepName,
        ErrorMessage,
        SolutionNotes,
        Author,
        CreatedAt
    FROM dbo.IncidentKnowledgeBase
    WHERE (@ServerName IS NULL OR ServerName = @ServerName)
      AND (@JobName IS NULL OR JobName = @JobName)
      AND (@StepName IS NULL OR StepName = @StepName)
    ORDER BY CreatedAt DESC;
END


