

CREATE PROCEDURE [dbo].[usp_GetJobAcknowledgement]
    @ServerName NVARCHAR(128),
    @JobName NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 1
        ServerName,
        JobName,
        AcknowledgedBy,
        AcknowledgedAt
    FROM dbo.JobAcknowledgements
    WHERE ServerName = @ServerName 
      AND JobName = @JobName
    ORDER BY AcknowledgedAt DESC;
END


