 
CREATE PROCEDURE dbo.usp_UpsertIncidentKnowledge
    @ServerName NVARCHAR(128),
    @JobName NVARCHAR(128),
    @StepName NVARCHAR(128) = NULL,
    @ErrorMessage NVARCHAR(MAX) = NULL,
    @ErrorCode NVARCHAR(50) = NULL,
    @SolutionNotes NVARCHAR(MAX),
    @Author NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;
 
    MERGE dbo.IncidentKnowledgeBase AS target
    USING (SELECT @ServerName AS ServerName, @JobName AS JobName) AS source
    ON target.ServerName = source.ServerName AND target.JobName = source.JobName
    WHEN MATCHED THEN
        UPDATE SET
            StepName = @StepName,
            ErrorMessage = @ErrorMessage,
            ErrorCode = @ErrorCode,
            SolutionNotes = @SolutionNotes,
            Author = @Author,
            CreatedAt = GETDATE()
    WHEN NOT MATCHED THEN
        INSERT (ServerName, JobName, StepName, ErrorMessage, ErrorCode, SolutionNotes, Author, CreatedAt)
        VALUES (@ServerName, @JobName, @StepName, @ErrorMessage, @ErrorCode, @SolutionNotes, @Author, GETDATE());
END;

