 
CREATE PROCEDURE dbo.usp_GetAllSolutions
AS
BEGIN
    SET NOCOUNT ON;
    -- Hämtar den senaste lösningen för varje unikt jobb/server-par
    WITH LatestSolution AS (
        SELECT
            ServerName,
            JobName,
            SolutionNotes,
            Author,
            CreatedAt,
            ROW_NUMBER() OVER(PARTITION BY ServerName, JobName ORDER BY CreatedAt DESC) as rn
        FROM
            dbo.IncidentKnowledgeBase -- Kontrollera att tabellnamnet stämmer
    )
    SELECT
        ServerName,
        JobName,
        SolutionNotes,
        Author,
        CreatedAt
    FROM
        LatestSolution
    WHERE
        rn = 1;
END

