CREATE   PROCEDURE dbo.usp_GetRemoteSsisErrorDetails
    @TargetServer NVARCHAR(128),
    @FolderName NVARCHAR(128),
    @ProjectName NVARCHAR(128),
    @PackageName NVARCHAR(128),
    @JobStartTime DATETIMEOFFSET -- Ändrad från DATETIME till DATETIMEOFFSET!
AS
BEGIN
    SET NOCOUNT ON;
 
    -- Nu kan vi skapa ett perfekt tidsfönster helt oberoende av tidszoner!
    DECLARE @StartWindow DATETIMEOFFSET = DATEADD(MINUTE, -15, @JobStartTime);
    DECLARE @EndWindow DATETIMEOFFSET = DATEADD(HOUR, 4, @JobStartTime);
    
    IF @PackageName NOT LIKE '%.dtsx'
    BEGIN
        SET @PackageName = @PackageName + '.dtsx';
    END
 
    DECLARE @Sql NVARCHAR(MAX);
 
    SET @Sql = N'
        DECLARE @ExecutionId BIGINT;
 
        SELECT TOP 1 @ExecutionId = execution_id
        FROM [' + @TargetServer + '].[SSISDB].[catalog].[executions]
        WHERE folder_name = @FolderName
          AND project_name = @ProjectName
          AND package_name = @PackageName
          AND start_time BETWEEN @StartWindow AND @EndWindow
        ORDER BY start_time DESC
        OPTION (RECOMPILE);
 
        IF @ExecutionId IS NULL
        BEGIN
            SELECT 
                GETDATE() AS message_time,
                120 AS message_type,
                ''Hittade ingen matchande körning i SSISDB på '' + @TargetServer AS message,
                @PackageName AS package_name,
                ''System'' AS event_name,
                ''System'' AS subcomponent_name,
                CAST(0 AS BIT) AS ExecutionFound;
        END
        ELSE
        BEGIN
            SELECT 
                message_time,
                message_type,
                message,
                package_name,
                event_name,
                subcomponent_name,
                CAST(1 AS BIT) AS ExecutionFound,
                @ExecutionId AS ExecutionId
            FROM [' + @TargetServer + '].[SSISDB].[catalog].[event_messages]
            WHERE operation_id = @ExecutionId
              AND message_type = 120
            ORDER BY message_time ASC
            OPTION (RECOMPILE);
        END
    ';
 
    EXEC sp_executesql @Sql, 
        N'@FolderName NVARCHAR(128), @ProjectName NVARCHAR(128), @PackageName NVARCHAR(128), @StartWindow DATETIMEOFFSET, @EndWindow DATETIMEOFFSET, @TargetServer NVARCHAR(128)', 
        @FolderName, @ProjectName, @PackageName, @StartWindow, @EndWindow, @TargetServer;
END;

