
CREATE   PROCEDURE dbo.usp_GenerateIndexScript
    @DatabaseName NVARCHAR(128),
    @SchemaName NVARCHAR(128),
    @TableName NVARCHAR(128),
    @EqualityColumns NVARCHAR(MAX) = NULL,
    @InequalityColumns NVARCHAR(MAX) = NULL,
    @IncludedColumns NVARCHAR(MAX) = NULL,
    @ImpactScore BIGINT = 0
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @IndexName NVARCHAR(128);
    DECLARE @Script NVARCHAR(MAX);
    DECLARE @KeyColumns NVARCHAR(MAX) = '';
    
    -- Validera att TableName inte är NULL
    IF @TableName IS NULL OR @TableName = 'null'
    BEGIN
        SELECT 'Fel: Tabellnamn saknas. Kontakta support.' AS IndexScript;
        RETURN;
    END
    
    -- Generera unikt indexnamn
    SET @IndexName = 'IX_' + @TableName + '_' 
        + REPLACE(REPLACE(REPLACE(COALESCE(@EqualityColumns, 'Auto'), '[', ''), ']', ''), ', ', '_');
    
    -- Begränsa längd till 128 tecken
    IF LEN(@IndexName) > 128
        SET @IndexName = LEFT(@IndexName, 128);
    
    -- Bygg KEY-kolumner
    IF @EqualityColumns IS NOT NULL
        SET @KeyColumns = @EqualityColumns;
    
    IF @InequalityColumns IS NOT NULL
    BEGIN
        IF LEN(@KeyColumns) > 0
            SET @KeyColumns = @KeyColumns + ', ' + @InequalityColumns;
        ELSE
            SET @KeyColumns = @InequalityColumns;
    END
    
    -- Bygg CREATE INDEX-skript
    SET @Script = 'USE [' + @DatabaseName + '];' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10);
    SET @Script = @Script + '-- Impact Score: ' + CAST(@ImpactScore AS NVARCHAR(20)) + CHAR(13) + CHAR(10);
    SET @Script = @Script + 'CREATE NONCLUSTERED INDEX [' + @IndexName + ']' + CHAR(13) + CHAR(10);
    SET @Script = @Script + 'ON [' + @SchemaName + '].[' + @TableName + ']' + CHAR(13) + CHAR(10);
    SET @Script = @Script + '(' + CHAR(13) + CHAR(10);
    SET @Script = @Script + '    ' + @KeyColumns + CHAR(13) + CHAR(10);
    SET @Script = @Script + ')' + CHAR(13) + CHAR(10);
    
    -- Lägg till INCLUDE om det finns
    IF @IncludedColumns IS NOT NULL AND LEN(@IncludedColumns) > 0
    BEGIN
        SET @Script = @Script + 'INCLUDE (' + CHAR(13) + CHAR(10);
        SET @Script = @Script + '    ' + @IncludedColumns + CHAR(13) + CHAR(10);
        SET @Script = @Script + ')' + CHAR(13) + CHAR(10);
    END
    
    SET @Script = @Script + 'WITH (ONLINE = ON, FILLFACTOR = 90);' + CHAR(13) + CHAR(10);
    SET @Script = @Script + 'GO';
    
    -- Returnera skriptet
    SELECT @Script AS IndexScript;
END

