CREATE   PROCEDURE dbo.usp_GetSsisErrorDetails
    @FolderName NVARCHAR(128),
    @ProjectName NVARCHAR(128),
    @PackageName NVARCHAR(128),
    @JobStartTime DATETIME
AS
BEGIN
    SET NOCOUNT ON;
 
    DECLARE @StartWindow DATETIME = DATEADD(MINUTE, -5, @JobStartTime);
    DECLARE @EndWindow DATETIME = DATEADD(HOUR, 4, @JobStartTime);
    DECLARE @ExecutionId BIGINT;
 
    -- 1. Hitta rätt execution_id inom tidsfönstret i SSISDB
    SELECT TOP 1 @ExecutionId = execution_id
    FROM [SSISDB].[catalog].[executions]
    WHERE folder_name = @FolderName
      AND project_name = @ProjectName
      AND package_name = @PackageName
      AND start_time BETWEEN @StartWindow AND @EndWindow
    ORDER BY start_time DESC;
 
    -- Om ingen körning hittades, returnera en tom tabell
    IF @ExecutionId IS NULL
    BEGIN
        SELECT 
            GETDATE() AS message_time,
            120 AS message_type,
            'Hittade ingen matchande körning i SSISDB för detta tidsfönster.' AS message,
            @PackageName AS package_name,
            'System' AS event_name,
            'System' AS subcomponent_name,
            CAST(0 AS BIT) AS ExecutionFound;
        RETURN;
    END
 
    -- 2. Returnera de faktiska felen
    SELECT 
        message_time,
        message_type,
        message,
        package_name,
        event_name,
        subcomponent_name,
        CAST(1 AS BIT) AS ExecutionFound,
        @ExecutionId AS ExecutionId
    FROM [SSISDB].[catalog].[event_messages]
    WHERE operation_id = @ExecutionId
      AND message_type = 120  -- 120 = Error
    ORDER BY message_time ASC;
END;

