 
-- Steg 2: Skapa proceduren på nytt med den korrekta och testade logiken.
CREATE PROCEDURE [dbo].[usp_GetJobDetails]
AS
BEGIN
    SET NOCOUNT ON;
 
    -- CTE för att hämta den senaste körningen (historik)
    WITH LastRun AS (
        SELECT
            job_id,
            run_status,
            run_date,
            run_time,
            message,
            ROW_NUMBER() OVER(PARTITION BY job_id ORDER BY run_date DESC, run_time DESC) AS rn
        FROM
            msdb.dbo.sysjobhistory
        WHERE
            step_id = 0 -- Endast övergripande jobbstatus
    ),
    -- CTE för att hämta nästa schemalagda körning
    NextRun AS (
        SELECT
            sjs.job_id,
            MIN(msdb.dbo.agent_datetime(sjs.next_run_date, sjs.next_run_time)) AS NextRunDateTime
        FROM
            msdb.dbo.sysjobschedules AS sjs
        INNER JOIN
            msdb.dbo.sysschedules AS ss ON sjs.schedule_id = ss.schedule_id
        WHERE
            ss.enabled = 1
            AND msdb.dbo.agent_datetime(sjs.next_run_date, sjs.next_run_time) > GETDATE()
        GROUP BY
            sjs.job_id
    ),
    -- CTE för att hämta senaste lösningen från kunskapsdatabasen
    LatestSolution AS (
        SELECT
            ServerName,
            JobName,
            SolutionNotes,
            ROW_NUMBER() OVER(PARTITION BY ServerName, JobName ORDER BY CreatedAt DESC) AS rn
        FROM
            [dbo].[IncidentKnowledgeBase] -- Kontrollera att denna sökväg är korrekt!
    )
    SELECT
        j.job_id,
        j.name AS JobName,
        j.enabled AS IsEnabled,
        c.name AS CategoryName,
        -- Korrekt statuslogik
        CASE
            WHEN aj.job_id IS NOT NULL THEN 'Running'
            WHEN lr.run_status = 0 THEN 'Failed'
            WHEN lr.run_status = 1 THEN 'Succeeded'
            WHEN lr.run_status = 2 THEN 'Retry'
            WHEN lr.run_status = 3 THEN 'Canceled'
            WHEN j.enabled = 1 THEN 'Scheduled'
            ELSE 'Unknown'
        END AS Status,
        msdb.dbo.agent_datetime(lr.run_date, lr.run_time) AS LastRunDateTime,
        nr.NextRunDateTime,
        lr.message AS ErrorMessage,
        ls.SolutionNotes AS Solution
    FROM
        msdb.dbo.sysjobs j
    LEFT JOIN
        msdb.dbo.syscategories c ON j.category_id = c.category_id
    LEFT JOIN
        LastRun lr ON j.job_id = lr.job_id AND lr.rn = 1
    LEFT JOIN
        NextRun nr ON j.job_id = nr.job_id
    LEFT JOIN
        LatestSolution ls ON j.name = ls.JobName AND ls.rn = 1 AND ls.ServerName = @@SERVERNAME
    LEFT JOIN
        msdb.dbo.sysjobactivity aj ON j.job_id = aj.job_id AND aj.start_execution_date IS NOT NULL AND aj.stop_execution_date IS NULL;
 
END

