-- =========================================================================
-- Skript för att skapa länkad server: MERCUR
-- =========================================================================

IF EXISTS (SELECT srv.name FROM sys.servers srv WHERE srv.name = N'MERCUR')
    EXEC master.dbo.sp_dropserver @server=N'MERCUR', @droplogins='droplogins';

EXEC master.dbo.sp_addlinkedserver 
    @server = N'MERCUR',
    @srvproduct = N'',
    @provider = N'MSDASQL',
    @datasrc = N'mercur';

-- OBS: Lösenord och inloggningsmappningar (sp_addlinkedsrvlogin) måste konfigureras manuellt av säkerhetsskäl.

