-- =========================================================================
-- Skript för att skapa länkad server: PWRSEDWDB01
-- =========================================================================

IF EXISTS (SELECT srv.name FROM sys.servers srv WHERE srv.name = N'PWRSEDWDB01')
    EXEC master.dbo.sp_dropserver @server=N'PWRSEDWDB01', @droplogins='droplogins';

EXEC master.dbo.sp_addlinkedserver 
    @server = N'PWRSEDWDB01',
    @srvproduct = N'',
    @provider = N'SQLNCLI',
    @datasrc = N'PWRSEDWDB01';

-- OBS: Lösenord och inloggningsmappningar (sp_addlinkedsrvlogin) måste konfigureras manuellt av säkerhetsskäl.

