-- =========================================================================
-- Skript för att skapa länkad server: SLLGDWSQL01
-- =========================================================================

IF EXISTS (SELECT srv.name FROM sys.servers srv WHERE srv.name = N'SLLGDWSQL01')
    EXEC master.dbo.sp_dropserver @server=N'SLLGDWSQL01', @droplogins='droplogins';

EXEC master.dbo.sp_addlinkedserver 
    @server = N'SLLGDWSQL01',
    @srvproduct = N'',
    @provider = N'SQLNCLI',
    @datasrc = N'SLLGDWSQL01';

-- OBS: Lösenord och inloggningsmappningar (sp_addlinkedsrvlogin) måste konfigureras manuellt av säkerhetsskäl.

