-- =========================================================================
-- Skript för att skapa länkad server: SLLGDWSQL02
-- =========================================================================

IF EXISTS (SELECT srv.name FROM sys.servers srv WHERE srv.name = N'SLLGDWSQL02')
    EXEC master.dbo.sp_dropserver @server=N'SLLGDWSQL02', @droplogins='droplogins';

EXEC master.dbo.sp_addlinkedserver 
    @server = N'SLLGDWSQL02',
    @srvproduct = N'',
    @provider = N'SQLNCLI',
    @datasrc = N'SLLGDWSQL02';

-- OBS: Lösenord och inloggningsmappningar (sp_addlinkedsrvlogin) måste konfigureras manuellt av säkerhetsskäl.

