-- =========================================================================
-- Skript för att skapa länkad server: SLLSDE0004
-- =========================================================================

IF EXISTS (SELECT srv.name FROM sys.servers srv WHERE srv.name = N'SLLSDE0004')
    EXEC master.dbo.sp_dropserver @server=N'SLLSDE0004', @droplogins='droplogins';

EXEC master.dbo.sp_addlinkedserver 
    @server = N'SLLSDE0004',
    @srvproduct = N'',
    @provider = N'SQLNCLI',
    @datasrc = N'SLLSDE0004';

-- OBS: Lösenord och inloggningsmappningar (sp_addlinkedsrvlogin) måste konfigureras manuellt av säkerhetsskäl.

