-- =========================================================================
-- Skript för att skapa länkad server: TSLLEDWDL01
-- =========================================================================

IF EXISTS (SELECT srv.name FROM sys.servers srv WHERE srv.name = N'TSLLEDWDL01')
    EXEC master.dbo.sp_dropserver @server=N'TSLLEDWDL01', @droplogins='droplogins';

EXEC master.dbo.sp_addlinkedserver 
    @server = N'TSLLEDWDL01',
    @srvproduct = N'',
    @provider = N'SQLNCLI',
    @datasrc = N'TSLLEDWDL01';

-- OBS: Lösenord och inloggningsmappningar (sp_addlinkedsrvlogin) måste konfigureras manuellt av säkerhetsskäl.

