 
-- Vy för att visa analysstatus
CREATE   VIEW dbo.vw_AnalysisHistory
AS
SELECT 
    a.AnalysisID,
    a.StartDate AS CollectionStart,
    a.EndDate AS CollectionEnd,
    a.AnalysisRunDate,
    a.Status,
    a.ErrorMessage,
    COUNT(r.RecommendationID) AS TotalRecommendations,
    SUM(CASE WHEN r.ImplementedDate IS NULL THEN 1 ELSE 0 END) AS PendingRecommendations,
    SUM(CASE WHEN r.ImplementedDate IS NOT NULL THEN 1 ELSE 0 END) AS ImplementedRecommendations,
    AVG(r.EstimatedImprovementPct) AS AvgEstimatedImprovement
FROM dbo.DTA_AnalysisLog a
LEFT JOIN dbo.DTA_Recommendations r ON a.AnalysisID = r.AnalysisID
GROUP BY 
    a.AnalysisID,
    a.StartDate,
    a.EndDate,
    a.AnalysisRunDate,
    a.Status,
    a.ErrorMessage;

