 
-- Vy för att visa aktuell insamlingsstatus
CREATE   VIEW dbo.vw_CurrentCollectionStatus
AS
SELECT 
    PeriodID,
    StartDate,
    EndDate,
    Status,
    DATEDIFF(DAY, StartDate, ISNULL(EndDate, GETDATE())) AS DaysCollected,
    CASE 
        WHEN Status = 'Active' THEN 14 - DATEDIFF(DAY, StartDate, GETDATE())
        ELSE 0
    END AS DaysRemaining,
    WorkloadFile
FROM dbo.DTA_CollectionPeriods
WHERE PeriodID = (SELECT MAX(PeriodID) FROM dbo.DTA_CollectionPeriods);

