 
-- Vy för dashboard: Top rekommendationer
CREATE   VIEW dbo.vw_TopRecommendations
AS
SELECT TOP 50
    r.RecommendationID,
    r.DatabaseName,
    r.TableName,
    r.RecommendationType,
    r.EstimatedImprovementPct,
    LEFT(r.RecommendationSQL, 200) AS RecommendationPreview,
    r.CreatedDate,
    DATEDIFF(DAY, r.CreatedDate, GETDATE()) AS DaysSinceCreated,
    r.ImplementedDate,
    r.ImplementedBy
FROM dbo.DTA_Recommendations r
WHERE r.ImplementedDate IS NULL
ORDER BY r.EstimatedImprovementPct DESC, r.CreatedDate DESC;

