USE [msdb];
GO

BEGIN TRANSACTION;
DECLARE @ReturnCode INT;
SELECT @ReturnCode = 0;

DECLARE @jobId BINARY(16);
EXEC @ReturnCode = msdb.dbo.sp_add_job @job_name=N'SQLMonitor - Kör DTA-analys', 
    @enabled=1,
    @notify_level_eventlog=2,
    @notify_level_email=0,
    @notify_level_netsend=0,
    @notify_level_page=0,
    @delete_level=0,
    @description=N'Kör DTA-analys på insamlad workload',
    @category_name=N'[Uncategorized (Local)]',
    @owner_login_name=N'GAIA\4g32', @job_id = @jobId OUTPUT;
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback;

EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Aktivera xp_cmdshell',
    @step_id=1, @cmdexec_success_code=0, @on_success_action=3,
    @on_fail_action=2, @retry_attempts=0, @retry_interval=0,
    @subsystem=N'TSQL', @command=N'
IF NOT EXISTS (SELECT 1 FROM sys.configurations WHERE name = ''xp_cmdshell'' AND value_in_use = 1)
BEGIN
    EXEC sp_configure ''show advanced options'', 1;
    RECONFIGURE;
    EXEC sp_configure ''xp_cmdshell'', 1;
    RECONFIGURE;
END',
    @database_name=N'master', @flags=0;
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback;

EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Kör DTA',
    @step_id=2, @cmdexec_success_code=0, @on_success_action=3,
    @on_fail_action=2, @retry_attempts=0, @retry_interval=0,
    @subsystem=N'TSQL', @command=N'EXEC dbo.usp_RunDTAAnalysis;',
    @database_name=N'SQLMonitor', @flags=0;
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback;

EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Inaktivera xp_cmdshell',
    @step_id=3, @cmdexec_success_code=0, @on_success_action=1,
    @on_fail_action=2, @retry_attempts=0, @retry_interval=0,
    @subsystem=N'TSQL', @command=N'
EXEC sp_configure ''xp_cmdshell'', 0;
RECONFIGURE;
EXEC sp_configure ''show advanced options'', 0;
RECONFIGURE;',
    @database_name=N'master', @flags=0;
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback;

EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'SLLBI01';
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback;

EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id = @jobId, @name = N'Schema_DTA_16e_Manaden', 
    @enabled=1, @freq_type=16,
    @freq_interval=16, @freq_subday_type=1,
    @freq_subday_interval=0, @freq_relative_interval=0,
    @freq_recurrence_factor=1, @active_start_date=20260715,
    @active_end_date=99991231, @active_start_time=20000, @active_end_time=235959;
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback;

EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1;
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback;

COMMIT TRANSACTION;
GOTO EndSave;

QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION;

EndSave:
GO

