 
-- Procedure för att visa rekommendationer
CREATE   PROCEDURE dbo.usp_ViewDTARecommendations
    @TopN INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopN)
        r.RecommendationID,
        r.DatabaseName,
        r.TableName,
        r.RecommendationType,
        r.EstimatedImprovementPct,
        r.RecommendationSQL,
        r.CreatedDate,
        r.ImplementedDate,
        r.ImplementedBy,
        r.Notes,
        a.StartDate AS AnalysisPeriodStart,
        a.EndDate AS AnalysisPeriodEnd
    FROM dbo.DTA_Recommendations r
    INNER JOIN dbo.DTA_AnalysisLog a ON r.AnalysisID = a.AnalysisID
    WHERE r.ImplementedDate IS NULL  -- Visa bara icke-implementerade
    ORDER BY r.EstimatedImprovementPct DESC, r.CreatedDate DESC;
END

