 
-- Procedure för att stoppa insamling
CREATE   PROCEDURE dbo.usp_StopWorkloadCollection
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Stoppa Extended Events-session
    IF EXISTS (SELECT 1 FROM sys.dm_xe_sessions WHERE name = 'SQLMonitor_Workload_Collection')
    BEGIN
        ALTER EVENT SESSION [SQLMonitor_Workload_Collection] ON SERVER STATE = STOP;
    END
    
    -- Uppdatera status
    UPDATE dbo.DTA_CollectionPeriods
    SET EndDate = GETDATE(),
        Status = 'Completed'
    WHERE Status = 'Active';
    
    PRINT 'Workload-insamling stoppad.';
END

