 
-- Procedure för att starta insamling
CREATE   PROCEDURE dbo.usp_StartWorkloadCollection
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @PeriodID INT;
    DECLARE @WorkloadFile NVARCHAR(500);
    
    -- Kontrollera om det redan finns en aktiv insamling
    IF EXISTS (SELECT 1 FROM dbo.DTA_CollectionPeriods WHERE Status = 'Active')
    BEGIN
        RAISERROR('Det finns redan en aktiv insamlingsperiod!', 16, 1);
        RETURN;
    END
    
    -- Skapa timestamp för filnamn
    SET @WorkloadFile = 'C:\SQLMonitor\Workload\SlowQueries_' + 
                        CONVERT(VARCHAR(8), GETDATE(), 112) + '_' + 
                        REPLACE(CONVERT(VARCHAR(8), GETDATE(), 108), ':', '') + '.xel';
    
    -- Logga ny period
    INSERT INTO dbo.DTA_CollectionPeriods (StartDate, Status, WorkloadFile)
    VALUES (GETDATE(), 'Active', @WorkloadFile);
    
    SET @PeriodID = SCOPE_IDENTITY();
    
    -- Starta Extended Events-session
    IF EXISTS (SELECT 1 FROM sys.dm_xe_sessions WHERE name = 'SQLMonitor_Workload_Collection')
    BEGIN
        ALTER EVENT SESSION [SQLMonitor_Workload_Collection] ON SERVER STATE = STOP;
    END
    
    ALTER EVENT SESSION [SQLMonitor_Workload_Collection] ON SERVER STATE = START;
    
    PRINT 'Workload-insamling startad. Period ID: ' + CAST(@PeriodID AS VARCHAR(10));
    PRINT 'Data samlas in i: C:\SQLMonitor\Workload\';
END

