
 
CREATE VIEW [dbo].[V_WhoWasActive_Critical] AS
WITH BlockedCounts AS (
    -- Räkna hur många sessioner som blockeras av respektive session vid varje tidpunkt
    SELECT 
        [collection_time],
        [blocking_session_id],
        COUNT(*) as [blocked_session_count]
    FROM [dbo].[WhoWasActive]
    WHERE [blocking_session_id] IS NOT NULL
    GROUP BY [collection_time], [blocking_session_id]
)
SELECT 
    w.[collection_time],
    w.[ServerName],
    w.[session_id],
    w.[login_name],
    w.[database_name],
    w.[CPU],
    w.[reads],
    w.[writes],
    w.[tempdb_current],
    w.[dd hh:mm:ss.mss],
    -- Mappa om namnet så att backend hittar det:
    w.[dd hh:mm:ss.mss] as [elapsed_time_formatted],
    w.[status],
    w.[wait_info],
    w.[sql_text],
    w.[program_name],
    w.[blocking_session_id],
    w.[open_tran_count],
    -- Om sessionen blockerar andra, returnera antalet, annars 0
    COALESCE(b.[blocked_session_count], 0) as [blocked_session_count],
    
    -- Beräkna tidsflaggorna som backend efterfrågar:
    CASE WHEN w.[collection_time] >= DATEADD(hour, -1, GETDATE()) THEN 1 ELSE 0 END as [is_last_1h],
    CASE WHEN w.[collection_time] >= DATEADD(hour, -24, GETDATE()) THEN 1 ELSE 0 END as [is_last_24h],
    CASE WHEN w.[collection_time] >= DATEADD(day, -3, GETDATE()) THEN 1 ELSE 0 END as [is_last_3d],
    
    ROW_NUMBER() OVER (PARTITION BY w.[collection_time], w.[session_id] ORDER BY w.[collection_time] DESC) as rn
FROM [dbo].[WhoWasActive] w
LEFT JOIN BlockedCounts b 
    ON w.[collection_time] = b.[collection_time] 
    AND w.[session_id] = b.[blocking_session_id]
-- Detta filter matchar vårt nya index perfekt!
WHERE (w.[status] IS NULL OR w.[status] <> 'sleeping');


