CREATE VIEW vw_JobAnomalies AS
WITH JobStats AS (
    SELECT 
        j.job_id,
        j.name AS JobName,
        h.instance_id,
        h.run_date,
        h.run_time,
        h.run_duration,
        h.retries_attempted,
        AVG(CAST(h.run_duration AS FLOAT)) OVER (
            PARTITION BY j.job_id
        ) AS AvgDuration,
        STDEV(CAST(h.run_duration AS FLOAT)) OVER (
            PARTITION BY j.job_id
        ) AS StdDevDuration,
        AVG(CAST(h.retries_attempted AS FLOAT)) OVER (
            PARTITION BY j.job_id
        ) AS AvgRetries
    FROM msdb.dbo.sysjobs j
    INNER JOIN msdb.dbo.sysjobhistory h ON j.job_id = h.job_id
    WHERE h.step_id = 0  -- Endast jobbets totala körning
)
SELECT 
    job_id,
    JobName,
    instance_id,
    run_date,
    run_time,
    run_duration AS CurrentDuration,
    AvgDuration,
    CASE 
        WHEN run_duration < (AvgDuration * 0.5) AND AvgDuration > 0 THEN 1 
        ELSE 0 
    END AS IsTooFast,
    CASE 
        WHEN run_duration > (AvgDuration * 2.0) AND AvgDuration > 0 THEN 1 
        ELSE 0 
    END AS IsTooSlow,
    CASE 
        WHEN retries_attempted > (AvgRetries * 2) THEN 1 
        ELSE 0 
    END AS IsUnusualRetry,
    AvgRetries AS NormalRetryPercent
FROM JobStats;

